
.a {
  color: white;
}

main {
  position: fixed;
  top: 50%;
  left: 30%;
}
main > h3 {
  /* posicao do texto  */
  position: fixed;
  top: 70%;
  left: 30%;
}
main > h1 {
  /* posicao do texto  */
  position: fixed;
  font-size: 100px;
}
main > img {
  /* posicao da imagem, ajustei da forma que sei, estou na duvida se precisa colocar ponto*/
  width: 500px;
  height: 500px;
  position: fixed;
  top: 10%;
  left: 31%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(202, 200, 200);
  text-align: center;
}
