.a {
  color: white;
}

main {
  position: fixed;
  top: 50%;
  left: 30%;
}
main > h3 {
  /* posicao do texto  */
  position: fixed !important;
  top: 70% !important;
  left: 30% !important;
}
main > h1 {
  /* posicao do texto  */
  position: fixed;
  font-size: 100px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: blue !important; */
  text-align: center;
}
.imgquadrada {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 750%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 12vh !important ;
}

.box {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  background-color: rgb(195, 241, 195);
}
.positionRelative {
  position: relative;
  left: 20px;
  background-color: rgb(245, 149, 149);
  z-index: -1;
}
.positionFixedTop {
  position: fixed;
  top: 0;
  right: 20px;
  background-color: rgb(208, 167, 246);
}
.positionFixedBottom {
  position: fixed;
  bottom: 0;
  right: 20px;
  background-color: rgb(208, 167, 246);
}

.positionSticky {
  position: sticky;
  top: 5px;
  background-color: rgb(246, 221, 167);
}

.np {
  position: fixed !important;
  top: 30% !important;
  left: 10% !important;
}
.np1 {
  position: fixed !important;
  top: 30% !important;
  left: 30% !important;
}

button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}

.btn {
  padding: 0.9em 1.6em;
  border: none;
  outline: none;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}

.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 46, 46);
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #002bff,
    #ff00c8,
    #002bff,
    #ff0000,
    #002bff,
    #ff00c8,
    #002bff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* hover */
.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: #000;
  font-weight: bold;
}
