body {
  background-color: rgb(93, 116, 150);
}

a {
  color: antiquewhite;
}

h1 {
  font-size: 75px;
  font-family: ;
}

.botao {
  position: center;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 16px;
  padding: 10px;
  border-radius: 10px;
  font-family: Georgia, serif;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  background-image: linear-gradient(
    to right,
    rgb(28, 110, 164) 0%,
    rgb(35, 136, 203) 50%,
    rgb(20, 78, 117) 100%
  );
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}
.myButton:hover {
  background: #d1d9df;
}
.myButton:active {
  background: #25292c;
}

.fundo {
  color-scheme: red;
}
.flex{
  max-width: 300px;
  padding: 10px;
  border: 2px solid black;
  display: flex;


}

.flex-container{
  margin: 0;
  padding: 0;
  display: flex;

}

.item{
  background-color: aqua;
  margin: 5px;

}

.flex-item{
  background: blue;
  height: 50px;
  width: 50px;
  line-height: 50px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 5px;


}

.row{
  flex-direction: row;


}

.row-reverse{
  flex-direction: row-reverse;

}

.row-reverse li{
  background-color: red;




}

.column{
  float: left;
  flex-direction: column;

}

.column li{
  background-color: orange;


}
.column-reverse{
  float: right;
  flex-direction: column-reverse;

}

.column-reverse li{
  background-color: blueviolet;
  

}
