<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />

    <title>index</title>
  </head>
  <body>
    <button t="Awesome" class="button" >
      
      <a href="contato.html"><span class="actual-text">&nbsp;contato&nbsp;</span></a>
      <a href="contato.html"><span class="hover-text" aria-hidden="true">&nbsp;contato&nbsp;</span></a>
  </button>
  <button t="Awesome" class="button" >
      
    <a href="contato.html"><span class="actual-text">&nbsp;contato&nbsp;</span></a>
    <a href="contato.html"><span class="hover-text" aria-hidden="true">&nbsp;contato&nbsp;</span></a>
</button>

      <div>
        <p>
          <video autoplay loop width="1000" height="500">
            <source src="../video/videointro.mp4" type="video/mp4" />
        </p>
      </div>
  </body>
</html>
