<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fundamentos flexbox</title>
    <link rel="stylesheet" href="../static/style.css" />
    
</head>
<body>
    <div class="navbar">
        <button t="Awesome" class="button">
          <a href="index.html"
            ><span class="actual-text">&nbsp;Home&nbsp;</span></a
          >
          <a href="index.html"
            ><span class="hover-text" aria-hidden="true"
              >&nbsp;Home&nbsp;</span
            ></a
          >
        </button>
        <button t="Awesome" class="button">
          <a href="contato.html"
            ><span class="actual-text">&nbsp;Contato&nbsp;</span></a
          >
          <a href="contato.html"
            ><span class="hover-text" aria-hidden="true"
              >&nbsp;Contato&nbsp;</span
            ></a
          >
        </button>
  
        <button t="Awesome" class="button">
          <a href="index.html"
            ><span class="actual-text">&nbsp;Trabalhos&nbsp;</span></a
          >
          <a href="index.html"
            ><span class="hover-text" aria-hidden="true"
              >&nbsp;Trabalhos&nbsp;</span
            ></a
          >
        </button>
      </div>
    
</body>
</html>