{%extends 'principal.html'%} {% block body %}
<div class="container">
  <div class="row">
    <div class="np1">
      <div class="container">
        <a class="col-2" href="https://www.instagram.com" target="blank">
          <button class="btn">Instagram</button>
        </a>
        <a class="col-2" href="https://www.instagram.com" target="blank">
          <button class="btn">LinkeDin</button>
        </a>
        <a class="col-2" href="https://www.instagram.com" target="blank">
          <button class="btn">Github</button>
        </a>
        <a class="col-2" href="https://whatsa.me/5512997856781" target="blank">
          <button class="btn">WhatsApp</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
