{%extends 'principal.html'%} {% block body %}
<div class="np">
  
    <div class="font-weight-bold text-white">
      <div class="row">
        <p class="col-2">teste 1</p>
        <p class="col-2">teste 2</p>
        <div class="col-2 text-center">Já criei Rã</div>
        <div class="col-2 text-center">vendedor</div>
        <div class="col-2 text-center">assistente de importação</div>
        <div class="col-2 text-center">texto simples</div>
        <div class="col-2 text-center">ESTUdante</div>
      </div>
    </div>

</div>
  {% endblock %}
</div>
