{%extends 'principal.html'%} {% block body %}

<div class="font-weight-bold text-white">
  <div class="row">
    <div class="col-2 text-center">Já criei Rã</div>
    <div class="col-2 text-center">vendedor</div>
    <div class="col-2 text-center">assistente de importação</div>
    <div class="col-2 text-center">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto impedit
      amet minus numquam porro sed dicta architecto iure, nisi, cum adipisci
      odit et hic animi dolore labore sapiente illo quaerat.
    </div>
    <div class="col-2 text-center">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto impedit
      amet minus numquam porro sed dicta architecto iure, nisi, cum adipisci
      odit et hic animi dolore labore sapiente illo quaerat.
    </div>
    <div class="col-2 text-center">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto impedit
      amet minus numquam porro sed dicta architecto iure, nisi, cum adipisci
      odit et hic animi dolore labore sapiente illo quaerat.
    </div>
  </div>
</div>

{% endblock %}
